body {
    background-color: black;
    color: white;
	border-color: white;
}

.main {
    margin: auto;
    width: 80%;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-right: 100px;
}

.animation-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 700px;
    max-height: 500px;
}

img#background {
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(20%);
    max-width: 2000px;
    max-height: 2000px;
}